<div class="container">

  <div class="mb-4 d-flex justify-content-between">

    <h3 class="">Developers</h3>

    <div class="d-flex gap-4">
      <input type="text" class="form-control" placeholder="Buscar developer..." [formControl]="searchText" />

      <button class="btn btn-primary" (click)="addDev()">Agregar</button>  
    </div>
</div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>País</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dev of devs">
        <td>{{dev.first_name}}</td>
        <td>{{dev.last_name}}</td>
        <td>{{dev.years}}</td>
        <td>{{dev.country}}</td>
        <td class="d-flex gap-3">
          <button class="btn btn-secondary">Consultar</button>
          <button class="btn btn-primary" (click)="editDev(dev)">Editar</button>
          <button class="btn btn-danger" (click)="deleteDev(dev)">Eliminar</button>
      </tr>
      <tr *ngIf="devs.length === 0">
        <td colspan="5" class="text-center">No hay developers</td>
      </tr>
    </tbody>
  </table>

</div>


<!-- modal registrar -->
<div class="modal fade" id="VerDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Registrar Desarrollador</h3>
        <!-- X -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!--  -->
      </div>
      <form>
        <!-- Body de Modal -->
        <div class="modal-body">
     
            <div class="d-flex">
              <div class="row">
                <div class=" col-md-6 mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                <div class=" col-md-6 mb-3">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="email" class="form-control" id="apellido">
                </div>
                <!-- salto -->
                <div class=" col-md-12 mb-3">
                  <label for="email" class="form-label">Correo</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class=" col-md-6 mb-3">
                  <label for="edad" class="form-label">Edad</label>
                  <input type="number" class="form-control" id="edad">
                </div>
                <div class=" col-md-6 mb-3">
                  <label for="ciudad" class="form-label">Ciudad</label>
                  <input type="text" class="form-control" id="ciudad">
                </div>
  
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>






<!-- modal editar -->
<div class="modal fade" id="editarDev" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Editar Desarrollador</h3>
        <!-- X -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!--  -->
      </div>
      <form>
      <!-- Body de Modal -->
      <div class="modal-body">
   
          <div class="d-flex">
            <div class="row">
              <div class=" col-md-6 mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre">
              </div>
              <div class=" col-md-6 mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="email" class="form-control" id="apellido">
              </div>
              <!-- salto -->
              <div class=" col-md-12 mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class=" col-md-6 mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad">
              </div>
              <div class=" col-md-6 mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="ciudad">
              </div>

            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
      </div>
    </form>
    </div>
  </div>
</div>