<header>
    <div class="container">
       <div class="row pt-2 pb-3">
          <div class="col-md-3 d-flex flex-column justify-content-center">
             <div class="logo">
                <a href="/" title="logo"> Logo </a>
             </div>                 
          </div>
          <div class="col-md-7 d-flex justify-content-center">
             <div class="main-menu">
                <ul class="nav">
                   <li><a routerLink="/devs/home"> Modulo Desarrolladores </a> </li>
                   <li><a routerLink="/admin/home"> Modulo Administativo </a> </li>                
                   </ul>
             </div>
          </div>
          <div class="col-md-2 d-flex justify-content-end">
            logout
          </div>
       </div>
    </div>
 </header>
