<header>
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
             <div class="logo">
                <a href="/" title="logo"> Accesos </a>
             </div>                 
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12 col-xl-9">
             <div class="main-menu">
                <ul class="nav">
                   <li><a href="/"> Modulo Desarrolladores </a> </li>
                   <li><a href="#"> Modulo Administativo </a> </li>                
                   </ul>
                <ul class="right-nav">                       
                  <li class="active"> <a href="#"> <i class="fa fa-sign-in"></i> Sign up </a> </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </header>
