<header>
    <div class="container">
       <div class="row">
          <div class="col-md-3">
             <div class="logo">
                <a href="/" title="logo"> Accesos </a>
             </div>                 
          </div>
          <div class="col-md-9">
             <div class="main-menu">
                <ul class="nav">
                   <li><a routerLink="/devs/home"> Modulo Desarrolladores </a> </li>
                   <li><a routerLink="/admin/home"> Modulo Administativo </a> </li>                
                   </ul>
                <ul class="right-nav">                       
                  logout
                </ul>
             </div>
          </div>
       </div>
    </div>
 </header>
